### If editing this file, did you consider if you should also update the .gitignore file? ###

### Node modules ###
node_modules

### VSCode ###
.vscode

### Other ###
src
test
.circleci
.github
.prettierrc
tsconfig.json
tslint.json
CODE_OF_CONDUCT.md